ul {
	margin-left: 40px;

	li {
		margin-bottom: 30px;
	}

	.site-content & li:before {
		content: "\f00c"; /* FontAwesome Unicode */
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -35px;
		width: 35px;
		color: $color-green;
	}
}

.tab {
	&.horizontal,
	&.vertical {
		display: flex;
		flex-wrap: wrap;	
	}

	&.vertical .tab-nav-wrapper {
		max-width: 369px;
		width: 100%;
		margin-right: 28px;	
	}

	ul {
		margin: 0;
	}

	li {
		margin: 0;
		flex-grow: 1;

		&:first-child a {
			border-radius: 3px 3px 0 0;
		}

		&:last-child a {
			border-radius: 0 0 3px 3px ;
		}
	}

	li:before {
		display: none !important;
	}

	a {
		display: block;
	}

	.tab-nav {
		background: $color-primary;
		font-size: $font-size-m;
		transition: 200ms;
		color: #fff;
		text-transform: uppercase;
		padding: 20px 35px;
		position: relative;		

		&.active,
		&:hover,
		&:focus {
			transition: 200ms;
			background: $color-primary-darker;
		}

		&.active {
			transition: 200ms;
			background: $color-primary-darker;

			&:after {
				content: '';
				position: absolute;
				width: 15px;
				height: 15px;
				background: #304254;
				right: 0;
				margin-right: -7px;
				transform: rotateZ(45deg);
				top: 50%;
				margin-top: -10px;
			}
		}
	}

	.tab-content {
		padding: 50px 40px;
		background: #fff;
		display: none;
		flex: 1 1 0;
		border-radius: 3px;
		line-height: 27px;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.1);

		&.active {
			display: block;
		}
	}

	.tab-screen {
		flex: 0 1 301px;
		align-self: flex-start;
	}
}